[submodule "jlox"]
	path = jlox
	url = https://github.com/Utecha/jlox.git
[submodule "clox"]
	path = clox
	url = https://github.com/Utecha/clox.git
[submodule "lox-c3"]
	path = lox-c3
	url = https://github.com/Utecha/lox-c3.git
[submodule "plox"]
	path = plox
	url = https://github.com/Utecha/plox.git
